.li-content {
	background-color: #FFFFFF;
	padding: 2px;
}

.comm-item {
	height: 200px;
}

.item-tap {
	height: 80%;
	text-align:center;
	background-color: #FFFFFF;
	overflow: hidden;
	vertical-align:middle;
	display: inline-block;
	/*line-height: 160px;*/
}

.item-tap img {
	/*width: 100%;
	height: 100%;*/
}

.item-tap p {
	position: absolute;
	top:150px;
	float: left;
	background-color: rgba(105, 105, 105, 0.6);
	color: white;
	padding-top: 4px;
	width: 100px;
	font-size: 14px;
	margin-top: -130px;
	text-align: center;
	vertical-align: middle;
	text-overflow: ellipsis;
	overflow: hidden;
}

.item-buttom {
	height: 20%;
	background-color: white;
}

.height-max {
	height: 100%;
}

.comm-name {
	font-size: 14px;
	height: 55%;
	padding: 5%;
	text-overflow: ellipsis;
	overflow: hidden;
}

.comm-price {
	font-size: 14px;
	height: 45%;
	padding-left: 5%;
	padding-bottom: 5%;
	font-weight: 800;
}

.comm-like {
	font-size: 35px;
	line-height: 50px;
	text-align: center;
	width: 100%;
}

.comm-like-gray {
	color: gray;
}

.comm-like-red {
	color: red;
}

.comm-like-num {
	position: relative;
	margin-top: -50px;
	font-size: 14px;
	float: left;
	line-height: 50px;
	color: white;
	text-align: center;
	width: 100%;
}

.logistics img {
	position: relative;
	width: 50px;
	margin-top: 90%;
	margin-left: 10%;
}
.item-img-box{
	line-height: 160px;
}
.item-img-box img{
	height:auto;width:100%;vertical-align:middle;
}

.no-data {
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	font-size: 16px;
}
