/kankan/unpackage
/android_kankan/gen
/android_kankan/bin
/android_kankan/.idea
/android_kankan/.gradle
/android_kankan/*.iml
/kankan/.settings
/android_kankan/app/src/main/assets/apps/H5B7054BD/www/unpackage
/android_kankan/app/src/main/assets/apps/H5B7054BD/www/.settings
/android_kankan/app/src/main/.settings
/android_kankan/app/src/main/gen
/android_kankan/app/src/main/bin
/android_kankan/app/build
/android_kankan/gradle
/android_kankan/build
/android_kankan/keystore.keystore
/android_kankan/app/*.iml
/android_kankan/app/src/main/assets/apps
